body {
	background-color: #afc4d9
}

div {
	font-family: "Courier New", Courier, monospace;
}

h1 {
	font-family: "Courier New", Courier, monospace;
}

h3 {
	font-family: "Courier New", Courier, monospace;
}